<ul id="post-comments-<%= post._id %>">
    <% if (typeof post.comments != "undefined" && post.comments.length > 0) { %>
    <% for (comment of post.comments) { %>
    <li id="comment-<%= comment._id %>">
        <p id="comment-content"><%= comment.content %></p>
        <% if(locals.user){ %>
        <a href="/likes/toggle/?id=<%= comment.id %>&type=Comment" class="like-button"
            data-likes="<%= comment.likes.length %>">
            <%= comment.likes.length %> Likes</a>
        <% } else{ %>
        <%= comment.likes.length %> Likes
        <% } %>
        <p id="comment-username">
            <%= `${comment.id}` %>&nbsp;&nbsp;
            <% if (locals.user && locals.user.id == comment.user) { %>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">Delete</a>
            <% } %>
        </p>
    </li>
    <% } %>
    <% } else { %>
    <li>
        <p id="nocomment">No comments yet.</p>
    </li>
    <% } %>
</ul>