<li class="post-container" id="post-<%= post.id %>">
    <div class="post">
        <p id="post-content"><%= post.content %></p>
        <p id="post-subtext">
            <%= post.user.name %>
            <% if (locals.user && locals.user.id == post.user.id) { %>
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete</a>
            <% } %>
        </p>
        <% if(locals.user){ %>
        <a href="/likes/toggle/?id=<%= post.id %>&type=Post" class="like-button"
            data-likes="<%= post.likes.length %>"><%= post.likes.length %> Likes</a>
        <% } else{ %>
        <%= post.likes.length %> Likes
        <% } %>
    </div>

    <div class="post-comments">
        <% if (locals.user) { %>
        <form id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
            <input type="text" name="comment" placeholder="Opinion?" required id="commtext">
            <input type="hidden" name="post" value="<%= post.id %>">
            <input type="submit" value="Add Comment" id="commbutton">
        </form>
        <% } %>

        <%- include('_comment') -%>

    </div>
</li>